.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  flex-direction: row; /* Keep text and image side by side */
  align-items: center;
  padding: 20px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 50px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 20px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 60px;
  font-weight: 700;
}

.hand-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hand-hand-icon img {
  width: 100px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #826ac4;
  color: white;
  font-size: 22px;
  font-weight: 500;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right img {
  max-width: 100%; /* Make image responsive */
  height: auto;
}

/* Responsive adjustments */
@media only screen and (max-width: 1024px) {
  .hero {
    height: 75vh;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-left p {
    font-size: 50px;
  }

  .hero-latest-btn {
    width: 280px;
    height: 60px;
    font-size: 20px;
  }

  .hero-right img {
    max-width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-left {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-left p {
    font-size: 40px;
  }

  .hero-latest-btn {
    width: 250px;
    height: 50px;
    font-size: 18px;
  }

  .hero-right img {
    max-width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .hero-left {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-left p {
    font-size: 30px;
  }

  .hero-latest-btn {
    width: 220px;
    height: 45px;
    font-size: 16px;
  }

  .hero-right img {
    max-width: 60%;
  }
}
