.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 90vh;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.popular hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.popular-item {
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap; /* Add flex-wrap for responsiveness */
}

/* Responsive adjustments */
@media only screen and (max-width: 1024px) {
  .popular h1 {
    font-size: 40px;
  }

  .popular-item {
    gap: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .popular h1 {
    font-size: 35px;
  }

  .popular-item {
    gap: 15px;
  }

  .popular hr {
    width: 150px;
    height: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .popular h1 {
    font-size: 30px;
  }

  .popular-item {
    gap: 10px;
  }

  .popular hr {
    width: 120px;
    height: 4px;
  }
}
